:root {
    --custom-yellow: #FCD129;
    --custom-red: #ec5646;
    --custom-black: #4A4A49;
    --custom-green: #3EB498;
    --overlay: #00000099;
    --white-hover: #ffffff80;
    --red-hover: #ff7e7e;
    --yellow-hover: #fcfc67;
    --section-distance: 5em;
}
body {
    background-color: var(--custom-black);
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loader > span {
  display: inline-block;
  background-color: var(--custom-yellow);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  margin: 0 8px;
  transform: translate3d(0);
  animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  background-color: var(--custom-green);
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
  background-color: var(--custom-red);
}

@keyframes bounce {
  to {
    width: 30px;
    height: 30px;
    transform: translate3d(0, -16px, 0);
  }
}