:root {
    --custom-yellow: #FCD129;
    --custom-red: #ec5646;
    --custom-black: #4A4A49;
    --custom-green: #3EB498;
    --overlay: #00000099;
    --white-hover: #ffffff80;
    --red-hover: #ff7e7e;
    --yellow-hover: #fcfc67;
    --section-distance: 5em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    /* font-family: 'Cookie', cursive; */
    overflow-x: hidden;
    /* ! debugging */
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; */
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.preload-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
    transition: opacity 3s ease-in;
}
#background-img {
    background-image: url('./img/background.jpg');
}
.bi-arrow-up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--custom-red);
    color: #fff;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.bi-arrow-up:hover {
    background-color: var(--red-hover);
    transition: all .3s;
}

/* * ANIMATION -----------------------------------------*/

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* ? =================================================== */


/* ? == FIXED TOP START ================================ */


/* * General ----------------------*/

#fixed-top {
    background-color: var(--custom-yellow);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    height: 50px;
}

#fixed-top .content {
    height: 100%;
}


/* * Order now text --------------- */

#fixed-top .content p {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-right: .5em;
}


/* * Delivery icons --------------- */

.wolt {
    background-image: url('./img/delivery/wolt.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 75px;
    height: 100%;
    padding: 1em;
}

.glovo {
    background-image: url('./img/delivery/glovo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 75px;
    height: 100%;
    padding: 1em;
}

.wolt-wrapper,
.glovo-wrapper {
    height: 50px;
    padding: .5em;
    transition: background-color .3s;
}

.wolt-wrapper:hover {
    background-color: #5cecffd0;
    transition: background-color .3s;
    cursor: pointer;
}

.glovo-wrapper:hover {
    background-color: #2cd45fbe;
    transition: background-color .3s;
    cursor: pointer;
}


/* ? =================================================== */


/* ? == FIXED TOP END ================================ */


/* ? =================================================== */


/* ? == NAVBAR START ================================ */


/* * General--------------- */

#header {
    width: 100%;
    margin-top: 2.5em;
    position: absolute;
    z-index: 2;
    color: #fff !important;
}


/* * Logo --------------- */

#logo {
    background-image: url('./img/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    transition: transform .3s;
    margin: 2em;
}

#logo:hover {
    transform: rotate(-40deg);
    transition: transform .3s;
    cursor: pointer;
}


/* * Nav links ----------------- */

.navbar .navbar-collapse .navbar-nav .nav-links {
    margin-left: 12em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-collapse .navbar-nav .nav-link {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0px 1.5em;
    color: #fff;
    border-bottom: 1.6px solid transparent;
    transition: border-bottom .3s;
    text-align: center;
}

.navbar-collapse .navbar-nav .nav-link:hover {
    color: var(--custom-yellow);
    border-bottom: 1.6px solid var(--custom-yellow);
    transition: border-bottom .3s;
}


/* * Social media icons ----------------- */

.nav-social {
    margin-right: 1em;
    margin-left: 5em;
}

.nav-social .bi {
    font-size: 1.5rem;
    padding: 0px .5em;
    transition: color .3s;
}

.nav-social .bi:hover {
    color: var(--custom-yellow);
    transition: color .3s;
    cursor: pointer;
}


/* * Nav Button----------------- */

.btn-nav-wrapper {
    margin-left: 1em;
}

.btn-nav {
    border: 2px solid var(--custom-yellow);
    border-radius: 50px;
    color: var(--custom-yellow);
    font-size: 1.5rem;
    font-weight: 700;
    padding: .3em 1em;
    transition: all .3s;
}

.btn-nav:hover {
    background-color: var(--custom-yellow);
    color: var(--custom-black);
    transition: all .3s;
}


/* * Nav Toggler ----------------- */

.navbar-dark .navbar-toggler {
    border: 2px solid var(--custom-yellow);
    margin-right: 1em;
}

.navbar-dark .navbar-toggler:focus {
    box-shadow: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(252, 209, 41)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


/* ? =================================================== */


/* ? == NAVBAR END ================================ */


/* ? =================================================== */


/* ? == LANDING START ================================ */


/* ? =================================================== */


/* * CAROUSEL -----------------------------------------*/

#landing .landing-dark {
    background: var(--overlay);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#carousel .slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel .carousel-inner .slide-1 {
    background-image: url('./img/slider/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

#carousel .carousel-inner .slide-2 {
    background-image: url('./img/slider/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

#carousel .carousel-inner .slide-3 {
    background-image: url('./img/slider/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}


/* * LANDING TEXT -----------------------------------------*/

#landing .landing-text {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 40%;
    bottom: 0;
    z-index: 1;
    text-align: center;
    color: #fff;
    min-width: max-content;
    text-align: center;
}

#landing .landing-text h3 {
    font-size: 2.5rem;
    padding: .5em
}

#landing .landing-text h1,
#landing .landing-text h1 span {
    font-family: 'Cookie', cursive;
    font-size: 5rem;
}

#landing .landing-text h1 span {
    color: var(--custom-yellow);
}

/* ? == LANDING END ================================ 
?   ====================================================*/


/* ? == MENU START ================================ 
?   ====================================================*/


/* * menu welcome text -----------------------------------------*/

#menu {
    margin-top: var(--section-distance);
}

#menu .menu-title {
    padding-bottom: 4em;
    text-align: center;
}

#menu .menu-title h2 {
    font-family: 'Cookie', cursive;
    color: var(--custom-yellow);
    font-size: 3rem;
    font-weight: 600;
}

#menu .menu-title h1 {
    font-size: 4rem;
    padding: .1em;
    font-weight: 600;
    word-spacing: 5px;
}


/* * menu items ------------------------------------------- */

#menu .menu-item-card {
    margin-bottom: 3em;
    border-bottom: 1.2px solid var(--custom-green);
    border-right: 2px solid var(--custom-green);
    border-end-end-radius: 20px;
}

#menu .menu-item-card .menu-item-img {
    position: relative;
    width: 20%;
    padding-bottom: 20%;
    border-radius: 50%;
    overflow: hidden;
}

#menu .menu-item-card .menu-item-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#menu .menu-item-card .menu-item-text {
    margin-left: 1.2em;
    width: 70%;
}

#menu .menu-item-card .menu-item-text h6 {
    text-align: left;
    padding-top: .5em;
    padding-bottom: .2em;
    font-size: 2rem;
    word-spacing: 6px;
    font-weight: 600;
}

#menu .menu-item-card .menu-item-text p {
    font-size: 1.1rem;
    padding: .5em .2em;
    color: #999;
    font-weight: 600;
    letter-spacing: 1.5px;
    word-spacing: 1px;
}

#menu .menu-item-card .menu-item-text span {
    padding: 0px .2em;
    font-weight: 600;
    font-size: 2rem;
    color: var(--custom-red);
}


/* * menu button------------------------------------------- */

#menu .btn-menu {
    color: var(--custom-red);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 5px;
    width: 100%;
    padding: .5em;
    margin-top: .4em;
    border-radius: 100px;
    border: 2px solid var(--custom-red);
    background-color: transparent;
    transition: all .3s;
}

#menu .btn-menu:hover {
    background-color: var(--custom-red);
    transition: all .3s;
    color: #fff;
}


/* ? == MENU END ================================ 
?   ====================================================*/


/* ? == OFFER START ================================ 
?   ====================================================*/

#offer {
    margin-top: var(--section-distance);
    margin-bottom: 3em;
    position: relative;
}

#offer .offer-dark {
    background: var(--overlay);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 60vh;
    width: 100%;
}

#offer .img-1 {
    background: url('./img/menu/5.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    transition: all .5s;
}

#offer .img-1:hover {
    background-size: 120%;
    transition: all .5s;
}

#offer .img-2 {
    background: url('./img/menu/1.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    transition: all .5s;
}

#offer .img-2:hover {
    background-size: 120%;
    transition: all .5s;
}

#offer .offer-text {
    line-height: 3;
    z-index: 4;
    padding: 0px 0px 2em 2em;
}

#offer .offer-text h5 {
    color: var(--custom-red);
    font-weight: 600;
    font-size: 2rem;
    padding: .2em 0px;
    letter-spacing: 2px;
}

#offer .offer-text h4 {
    color: var(--custom-green);
    font-weight: 600;
    font-size: 2.2rem;
    padding: .4em 0px;
    word-spacing: 4px;
    letter-spacing: 2px;
}

#offer .offer-text p {
    color: #fff;
    letter-spacing: 2.5px;
    text-transform: capitalize;
    padding-bottom: 1em;
}

#offer .btn-order {
    color: #fff;
    font-weight: 600;
    padding: .3em 2em;
    font-size: 1.3rem;
    letter-spacing: 2px;
    word-spacing: 3px;
    border-radius: 50px;
    background-color: var(--custom-yellow);
    transition: all .3s;
}

#offer .btn-order:hover {
    background-color: var(--custom-red);
    color: var(--custom-black);
    transition: all .3s;
}


/* ? == OFFER END ================================ 
?   ====================================================*/


/* ? ABOUT START ================================================================================================================================================================================================== */

#about {
    margin-top: var(--section-distance);
}

.about-img {
    background-image: url('./img/about/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.about-text {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    line-height: 1.7;
}

.about-text h3 {
    font-family: 'Cookie', cursive;
    font-size: 3rem;
    color: var(--custom-yellow);
}

.about-text h1 {
    font-size: 4rem;
    text-transform: uppercase;
    padding-top: 1em;
    padding-bottom: .5em;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 4px;
    box-shadow: 2px 6px 2px -4px var(--custom-green);
}

.about-text p {
    padding-top: 1em;
    font-size: 1.6rem;
}

.signature {
    background-image: url('./img/about/signature.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}


/* ? ABOUT END ================================================================================================================================================================================================== */


/* ? == VIDEO START ================================ 
?   ====================================================*/

#video {
    margin-top: var(--section-distance);
    position: relative;
}

.video-overlay {
    background: var(--overlay);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100vh;
}

.video-img {
    background-image: url('./img/video-demo/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.video-text {
    position: relative;
    z-index: 5;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.video-text h1 {
    font-size: 5rem !important;
    padding: .3em;
    text-align: center;
    font-weight: 600;
    color: var(--custom-yellow);
}

.video-text h2 {
    font-size: 3rem;
    padding: .3em;
    margin-bottom: .6em;
    text-align: center;
    font-weight: 600;
    color: var(--custom-green);
}

.video-btn {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin: 0 auto;
    color: white;
    background-color: var(--custom-red);
    font-size: 2rem;
}

.video-btn:hover {
    background-color: var(--custom-yellow);
    color: var(--custom-black);
}


/* ? == VIDEO END ================================ 
?   ====================================================*/


/* ? == LOCATION START ================================ 
?   ====================================================*/

#location {
    margin-top: var(--section-distance);
}

iframe {
    width: 100%;
    height: 60vh;
}

.location-text {
    text-align: center;
    margin-top: 2em;
}

.location-text p {
    color: #fff;
    font-size: 2rem;
    padding: .4em;
}

.location-text p:nth-child(1) {
    background-color: var(--custom-green);
    border-radius: 10px;
    text-transform: uppercase;
}

.location-text p:nth-child(2),
.location-text p:nth-child(3) {
    color: var(--custom-red);
}


/* ? == LOCATION END ================================ 
?   ====================================================*/


/* ? == GALLERY START================================ 
?   ====================================================*/

#gallery {
    margin-top: var(--section-distance);
}

#gallery img {
    transition: transform .3s;
    height: 90%;
}

#gallery img:hover {
    transform: scale(1.1);
    transition: transform .3s;
    cursor: pointer;
}


/* ? == GALLERY END=============================== 
?   ====================================================*/


/* ? == NEWSLETTER START================================ 
?   ====================================================*/

#newsletter {
    margin-top: var(--section-distance);
    padding: 2em 0px;
    background-color: var(--custom-black);
    color: var(--custom-green);
}

#newsletter h1 {
    color: var(--custom-yellow);
    padding: .1em;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
}

#newsletter h3 {
    padding: .1em;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.email-form {
    margin-top: 2em;
}

.email-form input {
    padding: .5em 1em;
    border-radius: 20px;
    border: 2px solid var(--custom-red);
    width: 300px;
}

input:focus {
    outline: none;
}

::placeholder {
    font-weight: 600;
    letter-spacing: 3px;
}

.btn-newsletter {
    background-color: var(--custom-red);
    border: 2px solid var(--custom-red);
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    padding: .5em 2em;
    color: #fff;
    margin-left: 1em;
    transition: all .3s;
}

.btn-newsletter:hover {
    background-color: var(--custom-green);
    color: var(--custom-yellow);
    border: 2px solid var(--custom-green);
    transition: all .3s;
}

.terms-form {
    margin-top: 2em;
}

.terms-form label {
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}

.terms-form label a {
    color: var(--custom-red);
    border-bottom: 2px solid var(--custom-red);
    transition: all .3s;
}

.terms-form label a:hover {
    color: var(--red-hover);
    border-bottom: 2px solid var(--red-hover);
    transition: all .3s;
}

#terms {
    margin-right: 1em;
    width: 20px;
    height: 20px;
}

#terms:hover {
    transition: all .3s;
}


/* ? == NEWSLETTER END================================ 
?   ====================================================*/


/* ? == FOOTER START================================ 
?   ====================================================*/


/* * general ------------------------------------------- */

#footer {
    background-color: var(--custom-yellow);
}


/* * footer logo------------------------------------------- */

#footer .footer-logo {
    background-image: url('./img/logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin-right: 5em;
    cursor: pointer;
}


/* * footer contact------------------------------------------ */

#footer h5 {
    color: var(--custom-green);
    font-size: 1.6rem;
    font-weight: 600;
    padding: .5em;
    transition: all .3s;
}

#footer h5:hover {
    color: var(--custom-red);
    transition: all .3s;
}

#footer .contact {
    color: #fff;
    border: 2px solid var(--custom-green);
    border-radius: 50px;
    padding: .2em 1em;
    margin-top: .6em;
    transition: all .3s;
}

#footer .contact:hover {
    background-color: var(--custom-black);
    border: 2px solid var(--custom-black);
    transition: all .3s;
}

#footer .contact:hover i {
    color: var(--custom-red);
}

#footer .contact:hover h4 {
    color: var(--custom-red);
}

#footer .contact i {
    font-size: 1.3rem;
    padding-right: .3em;
    color: var(--custom-green);
}

#footer .contact h4 {
    color: var(--custom-green);
    font-weight: 600;
}


/* * footer list------------------------------------------- */

.footer-links li {
    padding: 0em 1em;
    border-bottom: 1px solid transparent;
    transition: all .2s;
}

.footer-links li:hover {
    border-bottom: 1px solid var(--custom-red);
    transition: all .2s;
}

.footer-links li:hover a {
    color: var(--custom-red);
    transition: all .2s;
}

.footer-links li a {
    color: var(--custom-black);
    font-size: 1.4rem;
    font-weight: 600;
    transition: all .2s;
    letter-spacing: .5px;
}


/* * footer social------------------------------------------- */

.right-footer {
    margin-top: 1em;
}

.right-footer p {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: .5em 0px;
    letter-spacing: 1px;
}

.right-footer p a {
    transition: all .3s;
}

.right-footer p:hover a {
    color: var(--custom-red);
    transition: all .2s;
}

.right-footer p a {
    color: var(--custom-green);
}

#footer .social-icons .bi {
    font-size: 2rem;
    padding: 0px .7em;
    color: #fff;
    transition: all .3s;
}

#footer .social-icons .bi:hover {
    color: var(--custom-red);
    transition: all .3s;
    cursor: pointer;
}


/* * footer bottom------------------------------------------- */

.footer-bottom {
    background-color: var(--custom-green);
}

.footer-bottom .footer-bottom-text {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding: .5em 0px;
}


/* ? == FOOTER END================================ 
?   ====================================================*/


/* ! Media queries  */

@media (min-width:296px) and (max-width: 322px) {

    /* ? =================================================== */
    /* ? == NAVBAR START ================================ */
    /* * logo ----------------- */
    #logo {
        width: 80px;
        height: 80px;
        margin-left: 1em;
    }
    /* * links ----------------- */
    .navbar-nav {
        border-top: 2px solid var(--custom-yellow);
        background-color: rgba(7, 85, 52, 0.911);
        height: 67vh;
    }
    .navbar .navbar-collapse .navbar-nav .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 2.5;
        margin-left: 0px;
    }
    .navbar-collapse .navbar-nav .nav-link {
        color: var(--custom-yellow);
        text-align: center;
    }
    .d-none {
        display: block !important;
    }
    /* * social ----------------- */
    .nav-social .bi {
        display: none;
    }
    /* * button ----------------- */
    .btn-nav {
        display: none;
    }
    /* ? =================================================== */
    /* ? == NAVBAR END ================================ */
    /* ? == LANDING START ================================ */
    /* ? =================================================== */
    /* * LANDING TEXT -----------------------------------------*/
    #landing .landing-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
        bottom: 0;
    }
    #landing .landing-text h3 {
        font-size: 2rem;
        padding: .5em
    }
    #landing .landing-text h1,
    #landing .landing-text h1 span {
        font-size: 3rem;
    }
    /* ? == LANDING END ================================ 
?   ====================================================*/
    /* ? == MENU ITEMS START ================================ 
?   ====================================================*/
    #menu .btn-menu {
        font-size: 1.3rem;
    }
    /* ? == MENU ITEMS END ================================ 
?   ====================================================*/
    /* ? == OFFER START ================================*/
    #offer .offer-dark {
        height: 120vh;
    }
    /* ? =================================================== */
    /* ? == OFFER END ================================*/
    /* ? == ABOUT START ================================ 
?   ====================================================*/
    #about .about-text {
        padding-left: 0px !important;
    }
    .row>* {
        padding-right: 0px;
    }
    /* ? == ABOUT END================================ 
?   ====================================================*/
    /* ? == NEWSLETTER START================================ 
?   ====================================================*/
    .email-form input {
        width: 150px;
    }
    .btn-newsletter {
        padding: .4em .7em;
    }
    .terms-form {
        flex-direction: column-reverse;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
    }
    #terms {
        margin-top: 1.5em;
    }
    /* ? == NEWSLETTER END================================ 
?   ====================================================*/
    /* ? == FOOTER START================================ 
?   ====================================================*/
    .row>* {
        padding-left: 0px;
    }
    /* * footer list------------------------------------------- */
    .footer-links {
        flex-flow: wrap;
    }
    /* * footer social------------------------------------------- */
    .right-footer {
        margin-top: 1em;
    }
    .right-footer p {
        margin: .5em 0px;
    }
    #footer .social-icons .bi {
        padding: 0px .4em;
    }
    /* * footer bottom------------------------------------------- */
    .footer-bottom {
        margin-top: .5em;
    }
    .footer-bottom .footer-bottom-text {
        padding: .5em 0px;
    }
    /* ? == FOOTER END================================ 
?   ====================================================*/
}

@media (min-width: 323px) and (max-width: 377px) {
 
    /* ? =================================================== */
    /* ? == NAVBAR START ================================ */
    /* * logo ----------------- */
    #logo {
        width: 80px;
        height: 80px;
        margin-left: 1em;
    }
    /* * links ----------------- */
    .navbar-nav {
        border-top: 2px solid var(--custom-yellow);
        background-color: rgba(7, 85, 52, 0.911);
        height: 77vh;
    }
    .navbar .navbar-collapse .navbar-nav .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 3.5;
        margin-left: 0px;
    }
    .navbar-collapse .navbar-nav .nav-link {
        color: var(--custom-yellow);
        text-align: center;
    }
    .d-none {
        display: block !important;
    }
    /* * social ----------------- */
    .nav-social .bi {
        display: none;
    }
    /* * button ----------------- */
    .btn-nav {
        display: none;
    }
    /* ? =================================================== */
    /* ? == NAVBAR END ================================ */
    /* ? == LANDING START ================================ */
    /* ? =================================================== */
    /* * LANDING TEXT -----------------------------------------*/
    #landing .landing-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
        bottom: 0;
    }
    #landing .landing-text h3 {
        font-size: 2rem;
        padding: .5em
    }
    #landing .landing-text h1,
    #landing .landing-text h1 span {
        font-size: 3rem;
    }
    /* ? == LANDING END ================================ 
?   ====================================================*/
    /* ? =================================================== */
    /* ? == MENU ITEMS START ================================ 
?   ====================================================*/
    #menu .btn-menu {
        font-size: 1.5rem;
    }
    /* ? == MENU ITEMS END ================================ 
?   ====================================================*/
    /*?====================================================*/
    /* ? == OFFER START ================================*/
    #offer .offer-dark {
        height: 120vh;
    }
    /* ? =================================================== */
    /* ? == OFFER END ================================*/
    /* ? == ABOUT START ================================ 
?   ====================================================*/
    #about .about-text {
        padding-left: 0px !important;
    }
    .row>* {
        padding-right: 0px;
    }
    /* ? == ABOUT END================================ 
?   ====================================================*/
    /* ? == NEWSLETTER START================================ 
?   ====================================================*/
    .email-form input {
        width: 150px;
    }
    .btn-newsletter {
        padding: .4em .7em;
    }
    .terms-form {
        flex-direction: column-reverse;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
    }
    #terms {
        margin-top: 1.5em;
    }
    /* ? == NEWSLETTER END================================ 
?   ====================================================*/
    /* ? == FOOTER START================================ 
?   ====================================================*/
    .row>* {
        padding-left: 0px;
    }
    /* * footer list------------------------------------------- */
    .footer-links {
        flex-flow: wrap;
    }
    /* * footer social------------------------------------------- */
    .right-footer {
        margin-top: 1em;
    }
    .right-footer p {
        margin: .5em 0px;
    }
    #footer .social-icons .bi {
        padding: 0px .4em;
    }
    /* * footer bottom------------------------------------------- */
    .footer-bottom {
        margin-top: .5em;
    }
    .footer-bottom .footer-bottom-text {
        padding: .5em 0px;
    }
    /* ? == FOOTER END================================ 
?   ====================================================*/
}

@media (min-width: 378px) and (max-width: 425px) {
  
    /* ? =================================================== */
    /* ? == NAVBAR START ================================ */
    /* * logo ----------------- */
    #logo {
        width: 80px;
        height: 80px;
        margin-left: 1em;
    }
    /* * links ----------------- */
    .navbar-nav {
        border-top: 2px solid var(--custom-yellow);
        background-color: rgba(7, 85, 52, 0.911);
        height: 77vh;
    }
    .navbar .navbar-collapse .navbar-nav .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 4;
        margin-left: 0px;
    }
    .navbar-collapse .navbar-nav .nav-link {
        color: var(--custom-yellow);
        text-align: center;
    }
    .d-none {
        display: block !important;
    }
    /* * social ----------------- */
    .nav-social .bi {
        display: none;
    }
    /* * button ----------------- */
    .btn-nav {
        display: none;
    }
    /* ? =================================================== */
    /* ? == NAVBAR END ================================ */
    /* ? == LANDING START ================================ */
    /* ? =================================================== */
    /* * LANDING TEXT -----------------------------------------*/
    #landing .landing-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
        bottom: 0;
    }
    #landing .landing-text h3 {
        font-size: 2rem;
        padding: .5em
    }
    #landing .landing-text h1,
    #landing .landing-text h1 span {
        font-size: 4rem;
    }
    /* ? == LANDING END ================================ 
?   ====================================================*/
    /* ? == MENU ITEMS START ================================ 
?   ====================================================*/
    #menu .btn-menu {
        font-size: 1.8rem;
    }
    /* ? == MENU ITEMS END ================================ 
?   ====================================================*/
    /*?====================================================*/
    /* ? == OFFER START ================================*/
    #offer .offer-dark {
        height: 120vh;
    }
    /* ? =================================================== */
    /* ? == OFFER END ================================*/
    /* ? == ABOUT START ================================ 
?   ====================================================*/
    #about .about-text {
        padding-left: 0px !important;
    }
    .row>* {
        padding-right: 0px;
    }
    /* ? == ABOUT END================================ 
?   ====================================================*/
    /* ?====================================================*/
    /* ? == NEWSLETTER START================================ 
?   ====================================================*/
    .email-form input {
        width: 200px;
    }
    .btn-newsletter {
        padding: .5em 1em;
    }
    .terms-form {
        flex-direction: column-reverse;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
    }
    #terms {
        margin-top: 1.5em;
    }
    /* ? == NEWSLETTER END================================ 
?   ====================================================*/
    /* ? == FOOTER START================================ 
?   ====================================================*/
    .row>* {
        padding-left: 0px;
    }
    /* * footer list------------------------------------------- */
    .footer-links {
        flex-flow: wrap;
    }
    /* * footer social------------------------------------------- */
    .right-footer {
        margin-top: 1em;
    }
    .right-footer p {
        margin: .5em 0px;
    }
    #footer .social-icons .bi {
        padding: 0px .4em;
    }
    /* * footer bottom------------------------------------------- */
    .footer-bottom {
        margin-top: .5em;
    }
    .footer-bottom .footer-bottom-text {
        padding: .5em 0px;
    }
    /* ? == FOOTER END================================ 
?   ====================================================*/
}

@media (min-width: 426px) and (max-width: 768px) {

    /* ? =================================================== */
    /* ? == NAVBAR START ================================ */
    /* * logo ----------------- */
    #logo {
        width: 80px;
        height: 80px;
        margin-left: 1em;
    }
    /* * links ----------------- */
    .navbar-nav {
        border-top: 2px solid var(--custom-yellow);
        background-color: rgba(7, 85, 52, 0.911);
        height: 40vh;
    }
    .navbar .navbar-collapse .navbar-nav .nav-links {
        padding: 1em;
        margin-left: 0px !important;
    }
    .navbar-collapse .navbar-nav .nav-link {
        color: var(--custom-yellow);
    }
    .d-none {
        display: block !important;
    }
    /* * social ----------------- */
    .nav-social {
        margin: 1.5em 0px;
        color: var(--custom-yellow);
    }
    .nav-social .bi {
        display: block;
    }
    /* * button ----------------- */
    .btn-nav-wrapper {
        margin: 0px;
        margin-top: 2em;
    }
    .btn-nav {
        display: block;
    }
    /* ? =================================================== */
    /* ? == NAVBAR END ================================ */
    /*?====================================================*/
    /* ? == OFFER START ================================*/
    #offer .offer-dark {
        height: 120vh;
    }
    /* ? =================================================== */
    /* ? == OFFER END ================================*/
    /* ? == ABOUT START ================================ 
?   ====================================================*/
    #about .about-text {
        padding-left: 0px !important;
    }
    .row>* {
        padding-right: 0px;
    }
    /* ? == ABOUT END================================ 
?   ====================================================*/
    /* ?====================================================*/
    /* ? == NEWSLETTER START================================ 
?   ====================================================*/
    .email-form input {
        width: 300px;
    }
    .btn-newsletter {
        padding: .5em 1em;
    }
    .terms-form {
        flex-direction: column-reverse;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
    }
    #terms {
        margin-top: 1.5em;
    }
    /* ? == NEWSLETTER END================================ 
?   ====================================================*/
    /* ? == FOOTER START================================ 
?   ====================================================*/
    .row>* {
        padding-left: 0px;
    }
    /* * footer list------------------------------------------- */
    .footer-links {
        flex-flow: wrap;
    }
    /* * footer social------------------------------------------- */
    .right-footer {
        margin-top: 1em;
    }
    .right-footer p {
        margin: .5em 0px;
    }
    #footer .social-icons .bi {
        padding: 0px .4em;
    }
    /* * footer bottom------------------------------------------- */
    .footer-bottom {
        margin-top: .5em;
    }
    .footer-bottom .footer-bottom-text {
        padding: .5em 0px;
    }
    /* ? == FOOTER END================================ 
?   ====================================================*/
}

@media (min-width: 769px) and (max-width: 992px) {
  
    /* ? =================================================== */
    /* ? == NAVBAR START ================================ */
    /* * logo ----------------- */
    #logo {
        width: 80px;
        height: 80px;
        margin-left: 1em;
    }
    /* * links ----------------- */
    .navbar-nav {
        border-top: 2px solid var(--custom-yellow);
        background-color: rgba(7, 85, 52, 0.911);
        height: 40vh;
    }
    .navbar .navbar-collapse .navbar-nav .nav-links {
        padding: 1em;
        margin-left: 0px !important;
    }
    .navbar-collapse .navbar-nav .nav-link {
        color: var(--custom-yellow);
    }
    .d-none {
        display: block !important;
    }
    /* * social ----------------- */
    .nav-social {
        margin: 1.5em 0px;
        color: var(--custom-yellow);
    }
    .nav-social .bi {
        display: block;
    }
    /* * button ----------------- */
    .btn-nav-wrapper {
        margin: 0px;
        margin-top: 2em;
    }
    .btn-nav {
        display: block;
    }
    /* ? =================================================== */
    /* ? == NAVBAR END ================================ */
    /* ? == FOOTER START================================ 
?   ====================================================*/
    .row>* {
        padding-left: 0px;
    }
    /* * footer list------------------------------------------- */
    .footer-links {
        flex-flow: wrap;
    }
    /* * footer social------------------------------------------- */
    .right-footer {
        margin-top: 1em;
    }
    .right-footer p {
        margin: .5em 0px;
    }
    #footer .social-icons .bi {
        padding: 0px .4em;
    }
    /* * footer bottom------------------------------------------- */
    .footer-bottom {
        margin-top: .5em;
    }
    .footer-bottom .footer-bottom-text {
        padding: .5em 0px;
    }
    /* ? == FOOTER END================================ 
?   ====================================================*/
}

@media (min-width: 993px) and (max-width: 1024px) {
  
    /* ? =================================================== */
    /* ? == NAVBAR START ================================ */
    /* * logo ----------------- */
    #logo {
        width: 100px;
        height: 100px;
        margin-left: 1em;
    }
    /* * links ----------------- */
    .navbar .navbar-collapse .navbar-nav .nav-links {
        padding: .5em;
        margin-left: 5em;
    }
    .navbar-collapse .navbar-nav .nav-link {
        padding: 0px 1em;
    }
    /* * social ----------------- */
    .nav-social {
        margin: 0px 0px;
    }
    .nav-social .bi {
        display: block;
        padding: 0px .4em;
    }
    /* * button ----------------- */
    .btn-nav-wrapper {
        margin-left: 1em;
    }
    .btn-nav {
        padding: .3em .8em;
    }
    /* ? =================================================== */
    /* ? == NAVBAR END ================================ */
}

@media (min-width: 1025px) and (max-width: 1199px) {
  
    /* ? =================================================== */
    /* ? == NAVBAR START ================================ */
    /* * logo ----------------- */
    #logo {
        width: 100px;
        height: 100px;
        margin-left: 1em;
    }
    /* * links ----------------- */
    .navbar .navbar-collapse .navbar-nav .nav-links {
        padding: .5em;
        margin-left: 5em;
    }
    .navbar-collapse .navbar-nav .nav-link {
        padding: 0px 1em;
    }
    /* * social ----------------- */
    .nav-social {
        margin: 0px 0px;
    }
    .nav-social .bi {
        display: block;
        padding: 0px .4em;
    }
    /* * button ----------------- */
    .btn-nav-wrapper {
        margin-left: 1em;
    }
    .btn-nav {
        padding: .3em .8em;
    }
    /* ? =================================================== */
    /* ? == NAVBAR END ================================ */
}

@media (min-width: 1200px) and (max-width:1400px) {
    /* ? =================================================== */
    /* ? == NAVBAR START ================================ */
    /* * logo ----------------- */
    #logo {
        width: 120px;
        height: 120px;
        margin-left: 3em;
    }
    /* * links ----------------- */
    .navbar .navbar-collapse .navbar-nav .nav-links {
        padding: .5em;
        margin-left: 3em;
    }
    .navbar-collapse .navbar-nav .nav-link {
        padding: 0px 1.5em;
    }
    /* * social ----------------- */
    .nav-social {
        margin: 0px 0px;
        margin-left: 1em;
    }
    .nav-social .bi {
        display: block;
        padding: 0px .3em;
    }
    /* * button ----------------- */
    .btn-nav-wrapper {
        margin-left: 1em;
    }
    .btn-nav {
        padding: .3em .8em;
    }
    /* ? =================================================== */
    /* ? == NAVBAR END ================================ */
}

@media (min-width: 1401px) and (max-width:1440px) {
    /* ? =================================================== */
    /* ? == NAVBAR START ================================ */
    /* * logo ----------------- */
    #logo {
        width: 120px;
        height: 120px;
        margin-left: 4em;
    }
    /* * links ----------------- */
    .navbar .navbar-collapse .navbar-nav .nav-links {
        padding: .5em;
        margin-left: 4em;
    }
    .navbar-collapse .navbar-nav .nav-link {
        padding: 0px 1.5em;
    }
    /* * social ----------------- */
    .nav-social {
        margin: 0px 0px;
        margin-left: 1em;
    }
    .nav-social .bi {
        display: block;
        padding: 0px .3em;
    }
    /* * button ----------------- */
    .btn-nav-wrapper {
        margin-left: 1em;
    }
    .btn-nav {
        padding: .3em .8em;
    }
    /* ? =================================================== */
    /* ? == NAVBAR END ================================ */
}

@media (min-width: 1441px) and (max-width: 2560px) {
 
}

@media (min-width: 2561px) {

}
