/* ! =================================================== */


/*! ==================================================*/


/* ! == MEDIA QUERY ================================ */

@media (min-width: 320px) and (max-width: 479.99px) {
    /* ? =================================================== */
    /* ? == NAVBAR START ================================ */
    /* * logo ----------------- */
    #logo {
        width: 80px;
        height: 80px;
        margin-left: 1em;
    }
    /* * links ----------------- */
    .navbar-nav {
        border-top: 2px solid var(--custom-yellow);
        background-color: rgba(7, 85, 52, 0.911);
        height: 77vh;
    }
    .navbar .navbar-collapse .navbar-nav .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 4;
        margin-left: 0px;
    }
    .navbar-collapse .navbar-nav .nav-link {
        color: var(--custom-yellow);
        text-align: center;
    }
    .d-none {
        display: block !important;
    }
    /* * social ----------------- */
    .nav-social .bi {
        display: none;
    }
    /* * button ----------------- */
    .btn-nav {
        display: none;
    }
    /* ? =================================================== */
    /* ? == NAVBAR END ================================ */
    /* ? == LANDING START ================================ */
    /* ? =================================================== */
    /* * LANDING TEXT -----------------------------------------*/
    #landing .landing-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
        bottom: 0;
    }
    #landing .landing-text h3 {
        font-size: 2.5rem;
        padding: .5em
    }
    #landing .landing-text h1,
    #landing .landing-text h1 span {
        font-size: 4rem;
    }
    /* ? == LANDING END ================================ 
?   ====================================================*/
    /* ? =================================================== */
    /* ? == OFFER START ================================*/
    #offer .offer-dark {
        height: 120vh;
    }
    /* ? =================================================== */
    /* ? == OFFER END ================================*/
    #about .about-text {
        padding-left: 0px !important;
    }
    /* ? == NEWSLETTER START================================ 
?   ====================================================*/
    .email-form input {
        width: 200px;
    }
    .btn-newsletter {
        padding: .5em 1em;
    }
    .terms-form {
        flex-direction: column-reverse;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
    }
    #terms {
        margin-top: 1.5em;
    }
    /* ? == NEWSLETTER END================================ 
?   ====================================================*/
    /* ? == FOOTER START================================ 
?   ====================================================*/
    /* * footer list------------------------------------------- */
    .footer-links {
        flex-flow: wrap;
    }
    /* * footer social------------------------------------------- */
    .right-footer {
        margin-top: 1em;
    }
    .right-footer p {
        margin: .5em 0px;
    }
    #footer .social-icons .bi {
        padding: 0px .4em;
    }
    /* * footer bottom------------------------------------------- */
    .footer-bottom {
        margin-top: .5em;
    }
    .footer-bottom .footer-bottom-text {
        padding: .5em 0px;
    }
    /* ? == FOOTER END================================ 
?   ====================================================*/
}

@media (min-width: 480px) and (max-width: 766.99px) {
    /* ? == NAVBAR START================================ 
?   ====================================================*/
    /* * Nav Logo --------------- */
    #logo {
        width: 100px;
        height: 100px;
        margin-left: 1.2em;
    }
    /* * Nav links ----------------- */
    .navbar-nav {
        border-top: 2px solid var(--custom-yellow);
        background-color: rgba(7, 85, 52, 0.911);
        height: 75vh;
    }
    .navbar .navbar-collapse .navbar-nav .nav-links {
        text-align: center;
        line-height: 4;
        margin-left: 0px !important;
    }
    .navbar-collapse .navbar-nav .nav-link {
        color: var(--custom-yellow);
    }
    /* * Nav Social  ----------------- */
    .nav-social {
        margin-right: 0px;
        margin: 2em 0px;
        color: var(--custom-yellow);
    }
    .nav-social .bi {
        padding: 0px 1em;
    }
    /* * Nav Button----------------- */
    .btn-nav-wrapper {
        margin-left: 0px;
    }
    /* ? == NAVBAR END================================ 
?   ====================================================*/
    /* ? == OFFER START ================================*/
    #offer .offer-dark {
        height: 120vh;
    }
    /* ? =================================================== */
    /* ? == OFFER END ================================*/
    /* ? == GALLERY START================================ 
?   ====================================================*/
    #gallery .col-lg-4 {
        height: 280px;
    }
    /* ? == GALLERY END=============================== 
?   ====================================================*/
    /* ? == FOOTER START================================ 
?   ====================================================*/
    /* * footer list------------------------------------------- */
    .footer-links {
        flex-flow: wrap;
    }
    /* * footer social------------------------------------------- */
    .right-footer {
        margin-top: 1em;
    }
    .right-footer p {
        margin: .5em 0px;
    }
    #footer .social-icons .bi {
        padding: 0px .4em;
    }
    /* * footer bottom------------------------------------------- */
    .footer-bottom {
        margin-top: .5em;
    }
    .footer-bottom .footer-bottom-text {
        padding: .5em 0px;
    }
    /* ? == FOOTER END================================ 
?   ========== */
    @media (min-width: 767px) and (max-width: 992px) {
        /* ? == NAVBAR START================================ 
?   ====================================================*/
        /* * Logo --------------- */
        /* * Nav Logo --------------- */
        #logo {
            width: 100px;
            height: 100px;
            margin-left: 1.2em;
        }
        /* * Nav links ----------------- */
        .navbar-nav {
            border-top: 2px solid var(--custom-yellow);
            background-color: rgba(7, 85, 52, 0.911);
            height: 75vh;
        }
        .navbar .navbar-collapse .navbar-nav .nav-links {
            text-align: center;
            line-height: 4;
            margin-left: 0px !important;
        }
        .navbar-collapse .navbar-nav .nav-link {
            color: var(--custom-yellow);
        }
        /* * Nav Social  ----------------- */
        .nav-social {
            margin-right: 0px;
            margin: 2em 0px;
            color: var(--custom-yellow);
        }
        .nav-social .bi {
            padding: 0px 1em;
        }
        /* * Nav Button----------------- */
        .btn-nav-wrapper {
            margin-left: 0px;
        }
        /* ? == NAVBAR END================================ 
?   ====================================================*/
        /* ? == FOOTER START================================ 
?   ====================================================*/
        /* * footer social------------------------------------------- */
        .right-footer {
            margin-top: 1em;
        }
        .right-footer p {
            margin: .5em 0px;
        }
        #footer .social-icons .bi {
            padding: 0px .4em;
        }
        /* * footer bottom------------------------------------------- */
        .footer-bottom {
            margin-top: .5em;
        }
        .footer-bottom .footer-bottom-text {
            padding: .5em 0px;
        }
        /* ? == FOOTER END================================ 
?   ========== */
    }
    @media (min-width: 992px) and (max-width: 1025px) {
        /* ? == NAVBAR START================================ 
?   ====================================================*/
        /* * Logo --------------- */
        #logo {
            margin: 0px !important;
            margin-top: 1.7em !important;
        }
        /* * Nav links ----------------- */
        .navbar-nav {
            margin: 0 !important;
        }
        .nav-links {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            margin-left: 10.5em;
        }
        .nav-link {
            padding: 0px .7em !important;
        }
        /* * Social media icons ----------------- */
        .nav-social {
            margin: 0px !important;
            margin-left: 1em !important;
        }
        .nav-social .bi {
            padding: 0px .5em;
        }
        /* * Nav Button----------------- */
        .btn-nav-wrapper {
            margin: 0px;
            margin-left: .5em;
        }
        /* ? == NAVBAR END================================ 
?   ====================================================*/
    }
    @media (min-width: 1025px) and (max-width: 1280px) {
        /* ? == NAVBAR START================================ 
?   ====================================================*/
        /* * Logo --------------- */
        #logo {
            margin: 0px !important;
            margin-top: 1.7em !important;
        }
        /* * Nav links ----------------- */
        .navbar-nav {
            margin: 0;
        }
        .nav-links {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            margin-left: 10.5em;
        }
        .nav-link {
            padding: 0px .7em !important;
        }
        /* * Social media icons ----------------- */
        .nav-social {
            margin: 0px !important;
            margin-left: 1em !important;
        }
        .nav-social .bi {
            padding: 0px .3em;
        }
        /* * Nav Button----------------- */
        .btn-nav-wrapper {
            margin: 0px;
            margin-left: .5em;
        }
        .btn-nav {
            display: block !important;
        }
        /* ? == NAVBAR END================================ 
?   ====================================================*/
    }
    @media (min-width: 1200px) and (max-width: 1280px) {
        /* ? == NAVBAR START================================ 
?   ====================================================*/
        /* * Logo --------------- */
        #logo {
            margin: 0px !important;
            margin-top: 1.7em !important;
        }
        /* * Nav links ----------------- */
        .navbar-nav {
            margin: 0 !important;
            margin-top: 1.5em !important;
        }
        .nav-links {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
        }
        .nav-link {
            padding: 0px .7em !important;
        }
        /* * Social media icons ----------------- */
        .nav-social {
            margin: 0px !important;
            margin-left: 6em !important;
        }
        .nav-social .bi {
            padding: 0px .5em;
        }
        /* * Nav Button----------------- */
        .btn-nav-wrapper {
            margin: 0px;
            margin-left: 1em;
        }
        /* ? == NAVBAR END================================ 
?   ====================================================*/
    }
}


/* * Logo --------------- */

#logo {
    background-image: url('./img/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    transition: transform .3s;
    margin: 2em;
}

#logo:hover {
    transform: rotate(-40deg);
    transition: transform .3s;
    cursor: pointer;
}


/* * Nav links ----------------- */

.navbar .navbar-collapse .navbar-nav .nav-links {
    margin-left: 12em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-collapse .navbar-nav .nav-link {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0px 1.5em;
    color: #fff;
    border-bottom: 1.6px solid transparent;
    transition: border-bottom .3s;
    text-align: center;
}

.navbar-collapse .navbar-nav .nav-link:hover {
    color: var(--custom-yellow);
    border-bottom: 1.6px solid var(--custom-yellow);
    transition: border-bottom .3s;
}


/* * Social media icons ----------------- */

.nav-social {
    margin-right: 1em;
    margin-left: 5em;
}

.nav-social .bi {
    font-size: 1.5rem;
    padding: 0px .5em;
    transition: color .3s;
}

.nav-social .bi:hover {
    color: var(--custom-yellow);
    transition: color .3s;
    cursor: pointer;
}


/* * Nav Button----------------- */

.btn-nav-wrapper {
    margin-left: 1em;
}

.btn-nav {
    border: 2px solid var(--custom-yellow);
    border-radius: 50px;
    color: var(--custom-yellow);
    font-size: 1.5rem;
    font-weight: 700;
    padding: .3em 1em;
    transition: all .3s;
}

.btn-nav:hover {
    background-color: var(--custom-yellow);
    color: var(--custom-black);
    transition: all .3s;
}